

 #background{
   background-image: url('poster1.png');
   position:fixed;
   right:0;left:0;top:0;bottom:0;
   width:100%;
   height:100%;
   z-index: -2;
  }

  #pop{
  	width: 100%;
  	height: 250px;
  }